.allFavorite {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .all {
    width: 980px;

    .olFavoriteBox {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .favoriteList {
      display: flex;
      list-style: none;
      color: lightgray;
    }

    .goLink {
      text-decoration: none;
      color: #aaaaaa;
    }

    .fa-home {
      margin-right: 4px;
      font-size: 15px;
    }

    .goSignUp {
      margin: 3px 0 0 7px;
      font-size: 13px;
    }

    .loginKo {
      text-align: center;
      padding: 100px 0px 40px;
      width: 980px;
      height: 50px;
      font-size: 30px;
      font-weight: 300;
      line-height: 42px;
    }
  }

  #table {
    border-top: 1px solid#e8e8e8;
    border-bottom: 1px solid#e8e8e8;
  }

  .message {
    padding: 50px 0;
    text-align: center;
    color: #757575;
  }

  .row {
    border-bottom: 1px solid blanchedalmond;
    border-top: 1px solid blanchedalmond;
    vertical-align: middle;
    color: #999;
  }

  .menuBar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 980px;
    height: 48px;
  }

  .menuItem {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 980px;
    height: 80px;
  }

  .checkBox {
    width: 13px;
    height: 13px;
    border: 0;
  }

  .select {
    display: flex;
    flex-direction: column;
  }
}
