.payBenefit {
  .benefitList {
    padding: 15px 25px;

    li {
      display: flex;
      justify-content: space-between;
      height: 32px;
      line-height: 32px;
      color: #666;
    }
  }

  .benefitExpect {
    display: flex;
    justify-content: space-between;
    padding: 16px 15px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    color: #333;
    background-color: #eff1f4;

    .result {
      color: #508bed;
    }
  }
}
